.banner {
  width: 100%;
  background-image: url("../../images/home/banner/banner.png");
  background-size: cover;
  height: 600px;
  position: relative;
}

.banner .title {
  width: 800px;
  font-size: 95px;
  font-family: YouSheBiaoTiHei;
  font-weight: 400;
  padding-top: 50px;
  color: #ffffff;
  text-shadow: 0px 6px 0px #343839;
  margin-left: -240px;
}

.T_button {
  display: inline-block;
  border-radius: 30px;
  background-color: #3b70f5;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  font-family: YouSheBiaoTiHei;
  padding: 20px;

  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  margin-left: -1040px;
}

.T_button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.T_button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.T_button:hover span {
  padding-right: 30px;
}

.T_button:hover span:after {
  opacity: 1;
  right: 0;
}

.banner .sub_title {
  width: 1000px;
  font-size: 40px;
  font-family: YouSheBiaoTiHei;
  font-weight: 500;
  padding-top: 0px;
  padding-bottom: 50px;
  color: #ffffff;
  text-shadow: 0px 3px 0px #08648b;
  margin-left: -220px;
}

.banner img {
  position: absolute;
  width: 466px;
  height: 611px;
  right: 0;
  bottom: -100px;
  display: block;
}

.buttons {
  position: relative;
}

.buttons .sun {
  position: absolute;
  z-index: 0;
  right: 51px;
  top: 177px;
}

.buttons .plane {
  position: absolute;
  z-index: 0;
  bottom: 152px;
  left: 0;
}

.buttons .contain-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 150px 0;
}

.buttons .contain-box .button-item {
  text-align: center;
  z-index: 10;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.buttons .contain-box .button-item .item-area {
  background-image: url("../../images/home/buttons/button-bg.png");
  width: 350px;
  height: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.buttons .contain-box .button-item .item-label {
  margin-top: 47px;
  font-size: 48px;
  font-family: YouSheBiaoTiHei;
  font-weight: 400;
  color: #151515;
}

.introductions .introduction-list .list-item:nth-child(1) {
  background-color: #c1dafe;
  color: #0c264b;
}

.introductions .introduction-list .list-item:nth-child(2) {
  background-color: #a8caf9;
  color: #0c264b;
}

.introductions .introduction-list .list-item:nth-child(3) {
  background-color: #c1dafe;
  color: #0c264b;
}

.introductions .introduction-list .list-item {
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.introductions .introduction-list .list-item .item-bg {
  position: absolute;
  bottom: 0;
  z-index: 0;
  left: 175px;
}

.introductions .introduction-list .list-item .contain-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.introductions .introduction-list .list-item .contain-box .item-text {
  margin-top: 40px;
  padding-right: 100px;
  width: 630px;
  font-family: YouSheBiaoTiHei;
  z-index: 10;
}

.introductions
  .introduction-list
  .list-item
  .contain-box
  .item-text
  .text-title {
  font-size: 56px;
  font-family: YouSheBiaoTiHei;
}

.introductions
  .introduction-list
  .list-item
  .contain-box
  .item-text
  .text-content {
  font-size: 27px;
  font-family: YouSheBiaoTiHei;
}

.introductions .introduction-list .list-item .contain-box .item-img {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-top: 60px;
  z-index: 10;
}

.introductions .introduction-list .list-item .contain-box .item-img img {
  width: 100%;
}

.cars img {
  width: 100%;
  display: block;
}

.share_button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  border: 3px solid green;
}
/*# sourceMappingURL=home.css.map */
