.banner {
  background-image: url("../img/report.png");
  width: 100%;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: YouSheBiaoTiHei;
  font-weight: bold;
  color: #ffffff;
}

.banner .title {
  font-size: 80px;
  font-family: YouSheBiaoTiHei;
  font-weight: 400;
  padding-top: 178px;
  color: #ffffff;
  text-shadow: 0px 6px 0px #343839;
  text-align: center;
}

.banner .sub-title {
  font-size: 35px;
  font-family: YouSheBiaoTiHei;
  font-weight: 400;
  color: #ffffff;
  text-shadow: 0px 3px 0px #343839;
  text-align: center;
}

.flip_card_left {
  background-color: transparent;
  width: 500px;
  height: 300px;
  perspective: 1000px;
}

.flip_card_inner_left {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  box-shadow: 0 23px 16px 0 rgba(0, 0, 0, 0.2);
}

.flip_card_left:hover .flip_card_inner_left {
  transform: rotateY(180deg);
}

.flip_card_front_left,
.flip_card_back_left {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip_card_front_left {
  background-color: #f4bab6;
  color: rgb(6, 33, 71);
}

.flip_card_back_left {
  background-color: rgb(174, 247, 247);
  color: rgb(8, 41, 54);
  transform: rotateY(180deg);
}

.flip_card {
  background-color: transparent;
  width: 500px;
  height: 300px;
  perspective: 1000px;
}

.flip_card_inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  box-shadow: 0 23px 16px 0 rgba(0, 0, 0, 0.2);
}

.flip_card:hover .flip_card_inner {
  transform: rotateY(180deg);
}

.flip_card_front,
.flip_card_back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip_card_front {
  background-color: rgb(247, 229, 151);
  color: rgb(75, 59, 10);
}

.flip_card_back {
  background-color: #ffffff;
  color: #000000;
  /* color: #441e1e; */
  transform: rotateY(180deg);
}

.blocks {
  width: 100%;
}

.blocks .block-item {
  height: 300px;
  width: 100%;
  padding-bottom: 35px;
  padding-top: 35px;
  padding-left: 18px;
  padding-right: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 40px;
  color: #ffffff;
}

.blocks .block-item .item-left {
  margin-right: 81px;
  width: 714px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 30px;
}

.blocks .block-item .item-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-right: 50px;
}

#content {
  background-color: #441e1e;
  height: 100%;
  width: 100%;
}

.contain-box {
  width: 100%;
}

#block1 {
  background-color: #c1dafe;
  height: 100%;
  width: 100%;
}

#block2 {
  background-color: rgb(255, 255, 255);
  height: 100%;
  width: 100%;
}

#block3 {
  background-color: #c1dafe;
  height: 100%;
  width: 100%;
}

#block4 {
  background-color: #a8caf9;
  height: 100%;
  width: 100%;
}

.flip_card_1 {
  padding-top: 110px;
  font-family: YouSheBiaoTiHei;
}

.flip_card_2 {
  padding-top: 90px;
  font-family: YouSheBiaoTiHei;
}

.flip_card_3 {
    padding-top: 70px;
    font-family: YouSheBiaoTiHei;
  }